<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Dapper - A simple web app</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	@RenderSection("Head", required:false)
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div xclass="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a style="padding-left:0;" asp-controller="Home" asp-action="Index">Home</a></li>
					<li><a asp-controller="Article" asp-action="List">Articles</a></li>
					<li><a asp-controller="Author" asp-action="List">Authors</a></li>
					<li><a asp-controller="Tag" asp-action="List">Tags</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container body-content">
		@if(TempData["Message_Success"] != null) {
			<div style="color:darkgreen; background-color:darkseagreen; font-weight:bold; padding:5px 15px; margin:10px 0;">@TempData["Message_Success"]</div>
		}
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; 2017 - <a href="https://github.com/GarethElms/Dapper-a-simple-web-app">Dapper - A simple web app</a> by <a href="http://www.garethelms.org">Gareth Elms</a></p>
		</footer>
	</div>

	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required:false)
</body>
</html>
