@model Article
@{
	ViewData["Title"] = "Home Page";
}
<div class="row">
	<div class="col-xs-12">
		<h2>@Model.Title</h2>
		<p>By @Model.Author.Name on @Model.Date</p>
		@if(Model.Tags != null) {
			<p>
				<span class="glyphicon glyphicon-tag"></span>
				<span>@Model.TagsForDisplay()</span>
			</p>
		}
		<pre>@Model.Body</pre>

	</div>
</div>
