@model ArticleViewModel
@{
	ViewData["Title"] = "Home Page";
}
<div class="row">
	<div class="col-xs-12">
		<h2>@Model.Article.Title</h2>
		<form method="POST" id="edit-article">
			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" id="title" name="Article.Title" placeholder="Title" value="@Model.Article.Title">
			</div>
			<div class="form-group">
				<label for="authorId">Author</label>
				<select class="form-control" asp-for="@Model.Article.AuthorId" asp-items="@Model.Authors"></select> 
			</div>
			<div class="form-group">
				<label for="date">Date</label>
				<input type="text" id="Article.date" name="Article.date" class="form-control" value="@Model.Article.Date">
			</div>
			<div class="form-group">
				<label for="tags">Tags</label>
				<div id="tag-container">
					<input class="form-control" type="text" name="Article.TagsCSV" id="Article.TagsCSV" value="@Model.Article.TagsForDisplay()" placeholder="Separate tags with a comma" />
				</div>
			</div>
			<div class="form-group" style="clear:both;">
				<label for="body">Body</label>
				<textarea name="Article.Body" id="body" class="form-control" style="height:150px; display:none;"></textarea>
				<div id="summernote">@Html.Raw(Model.Article.Body)</div>
			</div>
			<input type="hidden" name="Article.id" value="@Model.Article.Id" />
			<button type="submit" class="btn btn-default">Submit</button>
			@if(Model.Article.Id > 0) {
			<button type="submit" name="delete" class="btn btn-danger">Delete</button>
			}
		</form>
	</div>
</div>

@section Head
{
}

@section Scripts
{
	<link href="/js/summernote/summernote.css" rel="stylesheet">
	<script src="/js/summernote/summernote.js"></script>
	<script>
	$(document).ready(function () {
		$("#summernote").summernote({height:200});
	});
	$("#edit-article").submit(function () {
		$("#body").val($("#summernote").summernote("code"));
		return true;
	});
	</script>
}